/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:87a4830998e533697f6265b9fca6dd9b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(loading.png);}

.loading_bar_frame {width:512px; height:28px; background-position: -2px -554px}
.loading_bar_marker {width:512px; height:28px; background-position: -2px -524px}
.logo {width:605px; height:520px; background-position: -2px -2px}
